@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Cairo:wght@200..1000&family=Reem+Kufi&display=swap');
@import "tailwindcss";




:root {
  --background: #ffcc00c5;
  --foreground:  white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-Alexandria: Alexandria, "sans-serif";
  --font-Cairo: Cairo, "sans-serif";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #8B2F2F;
    --foreground: #F1C40F;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-animated-text {
  background: linear-gradient(-45deg, #C29A3A, #BFD3DD, #1B6F5D, #e63682);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 5s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 25% 25%;
  }
  50% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 75% 75%;
  }
  100% {
    background-position: 0% 50%;
  }
}