@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Reem+Kufi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Cairo:wght@200..1000&family=Reem+Kufi&display=swap');
@import "tailwindcss";




:root {
  --background: #ffcc00c5;
  --foreground:  black;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-Alexandria: Alexandria, "sans-serif";
  --font-Cairo: Cairo, "sans-serif";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #8B2F2F;
    --foreground: black;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}